body{

margin:0;
font-family:Arial, Helvetica, sans-serif;

background:linear-gradient(135deg,#141E30,#243B55);

color:white;
text-align:center;

}

.welcome{

height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

}

.start-btn{

margin-top:25px;
padding:15px 30px;
font-size:18px;

background:#00b4ff;
border:none;
border-radius:25px;

color:white;
cursor:pointer;

}

.hidden{
display:none;
}

.app{
padding-top:40px;
}

header h1{
font-size:36px;
margin-bottom:5px;
}

.guide{
margin-bottom:20px;
font-size:15px;
opacity:0.9;
}

.card{

background:white;
color:black;

padding:30px;
border-radius:15px;

box-shadow:0px 15px 30px rgba(0,0,0,0.4);

width:700px;
margin:auto;

}

.drawing-area{

display:flex;
justify-content:center;
align-items:center;
gap:50px;
margin-bottom:20px;

}

canvas{

border:2px solid #333;
background:white;

width:280px;
height:280px;

border-radius:10px;

}

.ai-box img{

border:2px solid #333;
border-radius:10px;
background:white;
padding:10px;

image-rendering:pixelated;

}

.buttons{
margin-top:20px;
}

button{

padding:10px 20px;
border:none;
border-radius:20px;

font-size:15px;
cursor:pointer;

margin:5px;

}

.predict-btn{
background:#4CAF50;
color:white;
}

.clear-btn{
background:#f44336;
color:white;
}

.exit-btn{
background:#555;
color:white;
}

#result{
margin-top:15px;
font-size:26px;
font-weight:bold;
}

.loading{

margin-top:10px;
font-size:18px;

animation:blink 1s infinite;

}

@keyframes blink{

0%{opacity:1;}
50%{opacity:0.3;}
100%{opacity:1;}

}

#bars{
margin-top:15px;
text-align:left;
}

.bar{

background:#ddd;
border-radius:5px;
height:18px;
overflow:hidden;

}

.fill{

background:#2196F3;
height:100%;
width:0%;

transition: width 1s ease-in-out;

}

.prediction-info{

margin-top:20px;

}

/* TARJETAS TOP 3 */

.top3-cards{

display:flex;
justify-content:center;
gap:15px;
margin-top:10px;

}

.prediction-card{

background:linear-gradient(135deg,#00c6ff,#0072ff);

color:white;

width:80px;
height:100px;

border-radius:15px;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

box-shadow:0 10px 20px rgba(0,0,0,0.3);

font-weight:bold;

transition:0.3s;

}

.prediction-card:hover{

transform:translateY(-5px) scale(1.05);

}

.prediction-card .digit{

font-size:28px;

}

.prediction-card .prob{

font-size:16px;

margin-top:5px;

}

.prediction-card .medal{

margin-top:5px;
font-size:18px;

}

.counter{
margin-top:20px;
font-size:16px;
font-weight:bold;
}

footer{
margin-top:15px;
font-size:12px;
opacity:0.7;
}