<!DOCTYPE html>
<html>

<head>

<title>Reconocimiento de Dígitos con IA</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

<h1>Reconocimiento de Dígitos con Machine Learning</h1>

<p>Dibuja un número del 0 al 9</p>

<canvas id="canvas"></canvas>

<div class="buttons">

<button onclick="predict()">Predecir</button>
<button onclick="clearCanvas()">Limpiar</button>

</div>

<h2 id="result"></h2>

<div id="bars"></div>

</div>

<script src="/static/script.js"></script>

</body>
</html>